:root {

    /* Primary Color */

    --primary-color-1: #87AA14;
    --primary-color-2: #000000;
    --primary-color-3: #FFFFFF;

    /* Secondary Color */

    --secondary-color-1: #EEEEEE;
    --secondary-color-2: #D4D5D4;
    --secondary-color-3: #9F9F9F;
    --secondary-color-4: #404040;

    /* White */

    --white-color: #FFFFFF;
    
    /* Text Color */
    --text-color-heading: #FFFCF1;
    --text-color-body: #FFF9E2;

    /* Chart Color */
    --chart-100: #87AA14;
    --chart-60: #B6CF66;
    --chart-40: #CFE7AC;
    --chart-20: #E6EFD9;
}

:root {
    --wp--preset--font-size--small: 14px;
    --wp--preset--font-size--medium: 18px;
    --wp--preset--font-size--large: 22px;
    --wp--preset--font-size--x-large: 48px;
}

@media(max-width: 1024px) {
    :root {
        --wp--preset--font-size--small: 12px;
        --wp--preset--font-size--medium: 17px;
        --wp--preset--font-size--large: 20px;
        --wp--preset--font-size--x-large: 32px;
    }

    h1 {
        font-size: 32px;
        line-height: 36%;
        letter-spacing: 0px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 26px;
        line-height: 32%;
        letter-spacing: 0px;
        font-weight: 700;
    }
    
    h3 {
        font-size: 24px;
        line-height: 24%;
        letter-spacing: 0px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 22px;
        line-height: 24%;
        letter-spacing: 0px;
        font-weight: 500;
    }
    
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24%;
        letter-spacing: 0;
    }

    .has-x-large-font-size {
        line-height: 24%;
        letter-spacing: 0px;
        font-weight: 700;
    }

    .has-large-font-size {
        line-height: 24%;
        letter-spacing: 0px;
        font-weight: 700;
    }

    .has-medium-font-size {
        line-height: 24%;
        letter-spacing: 0px;
        font-weight: 700;
    }

    .has-small-font-size {
        line-height: 16%;
        letter-spacing: 0px;
        font-weight: italic;
    }
}

h1 {
    font-size: 48px;
    line-height: 60%;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 36px;
    line-height: 40%;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 28px;
    line-height: 32%;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 36px;
    line-height: 32%;
    letter-spacing: -0.5px;
}

/*  p element */

p {
    font-size: 16px;
}

.has-x-large-font-size {
    line-height: auto;
    letter-spacing: 0px;
    font-weight: 700;
}

.has-large-font-size {
    line-height: 28%;
    letter-spacing: 0px;
    font-weight: 700;
}

.has-medium-font-size {
    line-height: auto;
    letter-spacing: 0px;
    font-weight: 700;
}

.has-small-font-size {
    line-height: 20%;
    letter-spacing: 0px;
    font-weight: 400;
}

.pd-main {
    padding: 40px 0;
}