:root {

    /* Primary Color */

    --primary-color-1: #87AA14;
    --primary-color-2: #000000;
    --primary-color-3: #FFFFFF;

    /* Secondary Color */

    --secondary-color-1: #EEEEEE;
    --secondary-color-2: #D4D5D4;
    --secondary-color-3: #9F9F9F;
    --secondary-color-4: #404040;
    
    /* Text Color */
    --text-color-heading: #FFFCF1;
    --text-color-body: #FFF9E2;

    /* Chart Color */
    --chart-100: #87AA14;
    --chart-60: #B6CF66;
    --chart-40: #CFE7AC;
    --chart-20: #E6EFD9;

    /* Font size */
    --font-12: 12px;
    --font-14: 14px;
    --font-15: 15px;
    --font-16: 16px;
    --font-17: 17px;
    --font-18: 18px;
    --font-20: 20px;
    --font-22: 22px;
    --font-24: 24px;
    --font-26: 26px;
    --font-32: 32px;
    --font-48: 48px;
}

@media(max-width: 1024px) {
    h1 {
        font-size: var(--font-32) !important;
        font-weight: 700;
    }
    
    h2 {
        font-size: var(--font-26) !important;
        font-weight: 700;
    }
    
    h3 {
        font-size: var(--font-24) !important;
        font-weight: 700;
    }
    
    h4 {
        font-size: var(--font-22) !important;
        font-weight: 500;
    }
    
    p {
        font-size: var(--font-15) !important;
        font-weight: 400;
        letter-spacing: 0;
    }

    .has-x-large-font-size {
        font-size: var(--font-32) !important;
        font-weight: 700;
    }

    .has-large-font-size {
        font-size: var(--font-20) !important;
        font-weight: 700;
    }

    .has-medium-font-size {
        font-size: var(--font-17) !important;
        font-weight: 700;
    }

    .has-small-font-size {
        font-size: var(--font-12) !important;
        font-weight: italic;
    }
}

h1 {
    font-size: var(--font-48) !important;
    letter-spacing: -0.5px;
}

h2 {
    font-size: var(--font-36) !important;
    letter-spacing: -0.5px;
}

h3 {
    font-size: var(--font-28) !important;
    letter-spacing: -0.5px;
}

h4 {
    font-size: var(--font-24) !important;
    letter-spacing: -0.5px;
}

/*  p element */

p {
    font-size: var(--font-16) !important;
}

.has-x-large-font-size {
    font-size: var(--font-48) !important;
    line-height: auto;
    font-weight: 700;
}

.has-large-font-size {
    font-size: var(--font-22) !important;
    font-weight: 700;
}

.has-medium-font-size {
    font-size: var(--font-18) !important;
    line-height: auto;
    font-weight: 700;
}

.has-small-font-size {
    font-size: var(--font-14);
    letter-spacing: 0px;
    font-weight: 400;
}

.pd-main {
    padding: 40px 0;
}

.pd-secondary {
    padding: 20px 0;
}

.mr-top-20 {
    margin-top: 20px;
}

.mr-bottom-20 {
    margin-bottom: 20px;
}

.mr-top-40 {
    margin-top: 40px;
}

.mr-bottom-40 {
    margin-bottom: 40px;
}

 /* flex */
.flex {
    display: flex;
}