/* Ft snippet */

.box-grey {
    padding: 32px 20px;
    background-color: var(--secondary-color-1);
    position: relative;
    margin-bottom: var(--mr-main)
}

.box-grey ul {
    margin-bottom: var(--mr-main)
}

.box-grey::after {
    position: absolute;
    content: url(../images/ft-snippet-logo.svg);
    width: 185px;
    height: 29px;
    bottom: 25px;
    right: 25px;
}

/* Block Quote */

.wp-block-pullquote {
    padding: 0;
}

blockquote {
    padding: 24px 32px 40px;
    background-color: var(--secondary-color-1);
    position: relative;
    margin: 0;
    border-left: 3px solid var(--primary-color-1);
}

.wp-block-pullquote blockquote p {
    text-align: left;
}

.wp-block-pullquote blockquote cite {
    font-size: var(--font-20) !important;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: 'INTER';
    font-style: normal;
    position: absolute;
    bottom: 20px;
    right: 35px;
    color: var(--primary-color-1);
}

/* Custom Table */
table {
    table-layout: fixed;
    border: 1px solid var(--secondary-color-1);
}

/* Default Table */

.wp-block-table thead {
    border: none;
}

.wp-block-table thead th{
    color: var(--primary-color-1);
    font-weight: 400;
}

.wp-block-table td, .wp-block-table th {
    padding: 16px;
    border: none;
    text-align: center;
}

.wp-block-table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

/* End Default Table */

figure.wp-block-table {
    position: relative;
    padding-top: 25px;
}

.medicine-table figure figcaption{
    position: absolute;
    top: 0;
    font-size: var(--font-14) !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--primary-color-2);
    margin: 0;
    font-style: normal;
}

table thead tr {
    background-color: white !important;
}

.medicine-table table thead p {
    margin-bottom: 0;
}

table tbody tr:first-child td {
    color: var(--primary-color-2) !important;
}


.medicine-table table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.medicine-table table tr {
    border: none !important;
}

.medicine-table .wp-block-table table tbody tr td:first-of-type {
    padding: 16px;
}

.medicine-table.no-title .wp-block-table table tbody tr td:first-of-type {
    width: auto;
}


/* Box Color */

.box-e {
    padding: 16px;
    background-color: #EEEEEE;
}

.box-e p {
    margin-bottom: 0;
    font-size: var(--font-14) !important;
}

/* Summary */
.summary {
    padding: 20px 32px;
    background: var(--secondary-color-1);
    margin-bottom: var(--mr-main)
}

.summary p:last-child {
    margin-bottom: 0;
}

/* Table Full bg */

.full-bg-table {
    margin-bottom: 20px;
}

.full-bg-table table tbody{
    border: none !important;
}

.full-bg-table table tr {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid white !important;
    background-color:var(--chart-20) !important;
}

.full-bg-table table tr td {
     text-align: left !important;
     color: var(--primary-color-2) !important;
}


/* Special box */

.box-two.special-box > .wp-block-column {
    text-align: center;
    padding: 48px 40px;
    background-image: url(../images/bg-special-box.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box-two.special-box > .wp-block-column figure {
    margin: 1em 0;
}

.box-two.special-box > .wp-block-column img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.box-two.special-box > .wp-block-column p {
    color: var(--primary-color-3);
}

.box-two.special-box > .wp-block-column p > strong {
    font-size: var(--font-18);
}

.box-two.special-box > .wp-block-column p.has-small-font-size a{
    color: #81838C;
    font-weight: 400;
}