/* Ft snippet */

.box-grey,
.ft-snippet {
    padding: 32px 20px 58px;
    background-image: url(../images/snippet-bg-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 100% bottom 0;
    position: relative;
    margin-bottom: var(--mr-main);
    height: 100%;
    background-color: var(--secondary-color-5);
}

.box-grey ul .ft-snippet ul {
    margin-bottom: var(--mr-main)
}

.box-grey::after,
.ft-snippet::after {
    position: absolute;
    content: "";
    width: 185px;
    height: 29px;
    bottom: 25px;
    right: 25px;
    background-image: url(../images/ft-snippet-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Block Quote */

.wp-block-pullquote {
    padding: 0;
}

blockquote {
    padding: 24px 32px 40px;
    background-color: var(--secondary-color-5);
    position: relative;
    margin: 0;
    border-left: 3px solid var(--primary-color-1);
}

.wp-block-pullquote blockquote p {
    text-align: left;
}

.wp-block-pullquote blockquote cite {
    font-size: var(--font-20) !important;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: 'INTER';
    font-style: normal;
    position: absolute;
    bottom: 20px;
    right: 35px;
    color: var(--primary-color-1);
}

/* Custom Table */
table {
    table-layout: fixed;
    border: 1px solid var(--secondary-color-1);
}

/* Default Table */

.wp-block-table thead {
    border: none;
}

.wp-block-table thead th {
    color: var(--primary-color-1);
    font-weight: 500;
    font-size: 16px;
}

.wp-block-table td,
.wp-block-table th {
    padding: 16px;
    border: none;
    text-align: center;
}

.wp-block-table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.full-bg-table.wp-block-table table th {
    padding: 16px;
    border: none;
    text-align: left;
}

/* End Default Table */

figure.wp-block-table {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

figure.wp-block-table p {
    margin-bottom: 0;
}

figure.wp-block-table figcaption {
    color: var(--secondary-color-3);
    margin: 0;
    font-style: normal;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

table thead tr {
    background-color: white !important;
}

.medicine-table table thead p {
    margin-bottom: 0;
    font-weight: 500;
}

.medicine-table table thead span.has-small-font-size {
    font-weight: 400;
    color: var(--secondary-color-4);
}

table tbody tr:first-child td {
    color: var(--primary-color-2) !important;

}

table thead th,
table tbody td {
    white-space: pre-line;
}

.medicine-table table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.medicine-table table tr {
    border: none !important;
}

.medicine-table .wp-block-table table tbody tr td:first-of-type {
    font-weight: 500;
}

.medicine-table.no-scroll .wp-block-table table tbody tr td:first-of-type {
    font-weight: 400;
}

.medicine-table.no-title .wp-block-table table tbody tr td:first-of-type {
    font-weight: 500;
}


/* Box Color */

.box-e {
    padding: 16px;
    background-color: var(--secondary-color-1);
}

.box-e p {
    margin-bottom: 0;
    font-size: var(--font-14) !important;
    line-height: 20px;
}

/* Summary */
.summary {
    padding: 20px 32px;
    background: var(--secondary-color-5);
    margin-bottom: var(--mr-main);
    border-left: 3px solid var(--primary-color-1);
}

.summary p:last-child {
    margin-bottom: 0;
}

/* Table Full bg */

.full-bg-table {
    margin-bottom: 20px;
}

.full-bg-table table tbody {
    border: none !important;
}

.full-bg-table table tr td {
    text-align: left !important;
    color: var(--primary-color-2) !important;
}


/* Special box */

.box-two.special-box>.wp-block-column {
    text-align: center;
    padding: 48px 40px;
    background-image: url(../images/bg-special-box.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box-two.special-box>.wp-block-column figure {
    margin: 1em 0;
}

.box-two.special-box>.wp-block-column img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.box-two.special-box>.wp-block-column p {
    color: var(--primary-color-3);
}

.box-two.special-box>.wp-block-column p>strong {
    font-size: var(--font-18);
}

.box-two.special-box>.wp-block-column p.has-small-font-size a {
    color: #81838C;
    font-weight: 400;
}

/* Brand */

.wp-block-columns.brand {
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 42px;
}

.wp-block-columns.brand .brand-col {
    background: var(--secondary-color-5);
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--secondary-color-1);
}

.wp-block-columns.brand .brand-col figure {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px;
    height: 310px;
    background: var(--primary-color-3);
}

.wp-block-columns.brand .brand-col>.wp-block-columns {
    margin-bottom: 0;
}

.wp-block-columns.brand .brand-col .wp-block-columns>.brand-title p {
    text-align: center;
}

.wp-block-columns.brand .brand-col figure>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.wp-block-columns.brand .brand-col>p {
    font-weight: 500;
}

.wp-block-columns.brand .brand-col>p {
    font-weight: 500;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
}

.wp-block-columns.brand .brand-col>p a {
    padding: 12px 24px;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
}


/* Calorie Form */

.calories-form .content-top {
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--primary-color-2);
    margin-bottom: var(--mr-main);
}

.calories-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    row-gap: 24px;
}

.calories-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    row-gap: 24px;
}

.calories-form form .two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

.calories-form form .form-input {
    position: relative;
    margin-top: 9px;
}

.calories-form form .form-radio-list {
    position: relative;
}

.calories-form form .input-body {
    position:absolute;
    bottom: -5px;
    right: 0;
}

.calories-form form .form-col .input-body > input{
    width: 72px;
    text-align: center;
    padding: 7px;
}

.calories-form form .form-radio {
    margin-top: 14px;
}

.calories-form form input[type="text"],
.calories-form form select {
    width: 100%;
    padding: 16px 12px;
    border: 1px solid var(--primary-color-2);
}

.calories-form form .form-input p {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    color: var(--secondary-color-4);
    margin-bottom: 0;
}

.calories-form form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 10px;
}

.special-col {
    align-items: end;
}

.calories-form form .action {
    margin-bottom: -12px;
    padding-bottom: 12px;
}


.calories-form form .calories-submit {
    width: 100%;
    padding: 12px 24px;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
    border: 1px solid var(--primary-color-2);
    cursor: pointer;
    height: fit-content;
}

.calories-form form .form-col .has-ssmall-font-size {
    margin-bottom: 0;
}

.calories-result {
    grid-template-columns: repeat(2,1fr);
    column-gap: 58px;
    position: relative;
}

.calories-result::after {
    content: "";
    position: absolute;
    height: 100%;
    border-right: 1px dashed var(--primary-color-2);
    top: 0;
    left: 50%;
}


.calories-col:last-child p,
.calories-col:first-child p:last-child{
    margin-bottom: 0;
}

.fillResult .calories-col ul {
    padding-left: 0;
    margin-bottom: 0;
}

.fillResult .calories-col ul b {
    margin-right: 5px;
}

.fillResult .calories-col ul li::before {
    width: 0;
    height: 0;
}
.fillResult .calories-col ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fillResult .calories-col .has-ssmall-font-size {
    color: var(--secondary-color-4);
}

/* Tool Post */

.lhide {
    display: none;
}

section.exc-hero-section.tool small {
    display: block;
}

section.exc-hero-section.tool p b {
    color: var(--primary-color-1);
}

section.exc-hero-section.tool {
    padding: 40px 0;
}

section.exc-hero-section.tool:before {
    z-index: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

section.exc-hero-section.tool .exc-container {
    text-align: unset;
    position: relative;
    z-index: 2;
}

.br-section {
    width: 100%;
    border-bottom: 1px dashed var(--primary-color-2);
}

section.exc-hero-section.tool .exc-container .tool-top {
    text-align: center;
    padding-bottom: 20px;
}

.choose-list ul {
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}

.choose-list ul li {
    margin-bottom: 0;
}

.choose-list ul li p {
    margin-bottom: 0;
}


.calories-form .action.odd {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    column-gap: 8px;
}