@media (max-width: 480px) {

    .container {
        padding: 0 20px;
    }

    #header {
        position: relative;
        padding: 9px 0;
    }

    #header .logo a {
        height: 20px;
        width: 114px;
    }

    #header .menu-main .menu-box ul li {
        padding: 24px 0;
        width: 100%;
    }

    #header .menu-main .menu-box ul li:first-child {
        padding-top: 0;
    }

    #header .menu-main .menu-box ul li ul li {
        border: none;
    }

    #header .menu-main .social {
        display: block;
    }

    #header .ed-btn {
        color: #fff;
        background: transparent;
        cursor: pointer;
        font-weight: 500;
        font-size: var(--font-14);
        width: 100px;
        height: 34px;
    }

    /* End Header */

    #footer .ft-menu ul.menu>li {
        width: 50% !important;
    }

    /* End Footer */

    .home-top .top-big {
        width: 100%;
        height: 400px;
        padding-right: 0;
    }

    .home-top .top-big .info {
        width: 90%;
    }

    .home-top .top-big .info p:last-child {
        width: 100%;
        max-height: calc(23px* 3);
    }

    .home-top .top-big .featured {
        width: 283px;
        right: 0;
    }

    .home-top .news-right {
        margin-top: 40px;
        width: 100%;
    }

    .soon {
        display: none;
    }

    /* End Soon */


    .contact-main .contact-box.flex {
        flex-wrap: wrap;
    }

    .contact-main .contact-box.flex .item-flex {
        width: 100%;
    }

    .contact-main .contact-box {
        gap: 20px;
    }

    /* End Contact */

    .home-top.cate-page .flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .home-top.cate-page .news-right {
        width: 100%;
    }

    .blog-main .blog-top .top-box p {
        padding: 16px 0 0 0;
        line-height: 26px;
        margin-bottom: 0;
    }

    /* End Cate */

    .author .pd-main {
        padding: 20px 0;
    }

    .sg-other .news-list .news-it {
        width: 100%;
    }

    /* End author */

    .box-grey,
    .ft-snippet {
        padding: 20px 24px;
    }

    .box-grey ul,
    .ft-snippet ul {
        margin-bottom: 30px;
    }

    .box-grey::after,
    .ft-snippet::after {
        bottom: 15px;
    }

    /* End snippet */

    .coupon-item-detail .coupon-top .flex {
        flex-direction: column-reverse;
    }

    .coupon-item-detail .coupon-top .flex .hightlight {
        width: 100%;
        border-right: none;
        padding: 0 24px;
        row-gap: 10px;
    }

    .mail-ds {
        display: block;
        text-align: center;
    }

    .coupon-item-detail .coupon-top .flex .info {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 1px solid var(--secondary-color-2);
    }

    #couponModal .show-code-top {
        padding: 24px;
    }

    #couponModal .coupon-top img {
        height: 41px;
        width: 185px;
    }

    #couponModal .show-code-top .coupon-top p {
        padding-left: 0;
    }

    #couponModal .coupon-md-form {
        display: block;
    }

    #couponModal .coupon-md-form p {
        margin-bottom: 16px !important;
    }

    #couponModal .show-code-top .coupon-copy .coupon-code {
        width: 100%;
    }

    #couponModal.modal a.close-modal {
        top: 12px;
        right: 20px;
    }

    .coupon-item-detail.all.coupon::before,
    .coupon-item-detail.all.coupon::after,
    .hightlight.relative-section::after,
    .coupon-top .info::after {
        width: 0;
    }

    .hightlight.relative-section::before,
    .coupon-top .info::before {
        border: none;
    }

    .coupon-item-detail .coupon-top .flex .hightlight .action {
        right: 0;
    }


    /* Home Latest */

    .home-lastest {
        padding: 40px 0 16px;
        background-image: url(../images/home/mb-bg2.png);
        background-size: auto 90%;
    }

    .home-lastest .lastest-it {
        margin-bottom: 24px;
    }

    .home-lastest .lastest-it:first-child {
        margin-bottom: 0;
        padding-right: 0;
    }

    .home-lastest .lastest-it:first-child .featured {
        height: 187px;
    }

    .home-lastest .lastest-it .featured {
        width: 100%;
        height: 134px;
    }

    .home-lastest .lastest-it .info {
        width: 100%;
        padding-left: 0;
    }

    .home-lastest .lastest-it .info h3 {
        max-height: 44px;
        overflow-y: hidden;
    }

    /* End Home Latstest */
    .wp-block-table table thead th,
    .no-title .wp-block-table table tbody td {
        width: 166px !important;
    }

    table figure figcaption {
        position: absolute;
        top: 0;
        font-size: var(--font-22) !important;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        color: var(--primary-color-2);
    }


    .single-main .sg-right .sg-custom .sg-product-it .wp-block-column:nth-child(2) {
        text-align: center;
    }

    .single-main .sg-right .sg-custom .sg-product-it .wp-block-column:nth-child(2) .list-check,
    .single-main .sg-right .sg-custom .sg-product-it .wp-block-column:nth-child(2) .list-remove {
        text-align: left;
    }

    .single-main .sg-right .sg-custom ul.list-check li,
    .single-main .sg-right .sg-custom ul.list-remove li {
        padding-left: 23px;
    }
}

@media (min-width: 481px) and (max-width: 834px) {
    .container {
        padding: 0 6.8%;
    }

    .home-top .top-big {
        padding-right: 24px;
    }

    .home-top .top-big .info {
        width: 65%;
    }

    .home-top .top-big .featured {
        width: 66.6%;
        right: 24px;
    }

    /* End Home top */

    #header .menu-main .menu-box .menu-menu-main-container>ul>li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    }

    #header .ed-btn {
        color: #fff;
        background: transparent;
        cursor: pointer;
        font-weight: 500;
        font-size: var(--font-14);
        width: 120px;
        height: 34px;
        border: 1px solid var(--secondary-color-4);
    }

    /* Product */

    .single-main .sg-right .sg-custom .sg-product-it .wp-block-column figure {
        margin-bottom: 20px;
    }

    /* End Product */

    table {
        width: 720px !important;
    }

    /* End Table */

    #content .author-about .author-link p span {
        font-size: 15px;
    }
}

@media (max-width: 834px) {

    .medicine-table table thead th:first-child,
    .medicine-table table tbody td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: var(--primary-color-3);
    }

    .no-scroll table thead th:first-child,
    .no-scroll table tbody td:first-child {
        position: unset;
    }

    .medicine-table table thead th:first-child::after,
    .medicine-table table tbody td:first-child::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        top: 0;
        background-color: var(--secondary-color-1);
    }

    .medicine-table table thead th:first-child::before,
    .medicine-table table tbody td:first-child::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        left: -1px;
        top: 0;
        background-color: var(--secondary-color-1);
    }

    .medicine-table table tbody tr:nth-child(odd) td:first-child {
        background-color: #f8f8f8;
    }

    .no-scroll table thead th:first-child::before,
    .no-scroll table thead th:first-child::after,
    .no-scroll table tbody td:first-child::before,
    .no-scroll table tbody td:first-child::after {
        width: 0px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .home-top .top-big {
        padding-right: 24px;
        width: calc(100% - 276px);
        max-height: 448px;
    }

    .home-top .news-right {
        width: 276px;
    }

    /* End Hero Section */

    .contact-main .contact-box.flex .item-flex {
        width: 50%;
    }

    .contact-main .contact-box {
        gap: 20px;
    }

    /* End Contact */

    .sg-other .news-list {
        row-gap: 20px;
    }

    .sg-other .news-list .news-it {
        width: calc(50% - 10px);
        padding: 0;
    }

    .sg-other .news-list .news-it:nth-child(odd) {
        margin-right: 20px;
    }

    /*  */

    .single-sidebar {
        display: none;
    }

    .single-main .sg-right {
        width: 100%;
        padding: 0;
    }


    .single-main .sg-right .sg-custom .sg-product-it,
    .single-main .sg-right .sg-custom .brand {
        flex-wrap: nowrap !important;
    }
}

@media (max-width: 1024px) {
    .contact-main .contact-box .contact-right .follow-list a {
        min-width: 50%;
        margin-right: 0;
    }

    /* Icon */

    .social a:first-child img {
        margin: 0 8px 0 0;
    }

    /* Footer */

    #footer .container.list-flex {
        flex-wrap: wrap !important;
    }

    #footer .ft-top .ft-info {
        text-align: left;
    }

    #footer .ft-bottom .container.list-flex {
        row-gap: 20px;
    }

    .flex-two .item-flex {
        width: 100%;
    }

    #footer .ft-menu ul.menu>li {
        width: 25%;
    }

    #footer .ft-menu ul.menu {
        padding: 0 5px;
    }

    #footer .ft-bottom {
        margin-top: 20px;
    }

    #footer .ft-bottom .menu {
        justify-content: space-between;
    }

    /* Table */

    table thead th,
    .no-title table tbody td {
        width: 192px !important;
    }

    .medicine-table figure figcaption {
        font-size: var(--font-14) !important;
        line-height: 26px;
    }

    /* Brand */

    .single-main .sg-right .sg-custom ul.pros-list:before,
    .single-main .sg-right .sg-custom ul.cons-list:before {
        font-size: var(--font-18);
        line-height: 24px;
    }
}