@media (max-width: 767px) {

    .container {
        padding: 0 20px;
    }

    #header {
        position: relative;
        padding: 9px 0;
    }

    #header .logo {
        height: 20px;
    }

    #header .menu-main .menu-box ul li {
        padding: 24px 0;
        width: 100%;
    }

    #header .menu-main .menu-box ul li:first-child {
        padding-top: 0;
    }

    #header .menu-main .menu-box ul li ul li {
        border: none;
    }

    #header .menu-main .social {
        display: block;
    }

    /* End Header */

    #footer .ft-menu ul.menu > li {
        width: 50% !important;
    }

    /* End Footer */

    .soon {
        display: none;
    }

    /* End Soon */


    .contact-main .contact-box.flex{
        flex-wrap: wrap;
    }

    .contact-main .contact-box.flex .item-flex{
        width: 100%;
    }

    .contact-main .contact-box {
        gap: 20px;
    }

    /* End Contact */

    .home-top.cate-page .flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .home-top.cate-page .news-right {
        width: 100%;
    }

    .blog-main .blog-top .top-box p {
        padding: 16px 0 0 0;
        line-height: 26px;
        margin-bottom: 0;
    }

    /* End Cate */

    .author .pd-main {
        padding: 20px 0;
    }

   .sg-other .news-list .news-it {
        width: 100%;
    }

    /* End author */

    .ft-snippet ul {
        margin-bottom: 30px;
    }
    
    .ft-snippet::after {
        bottom: 15px;
    }

    /* End snippet */

    .coupon-item-detail .coupon-top .flex {
        flex-direction: column-reverse;
    }

    .coupon-item-detail .coupon-top .flex .hightlight {
        width: 100%;
        border-right: none;
        padding: 0 24px;
        row-gap: 10px;
    }

    .mail-ds {
        display: block;
        text-align: center;
    }

    .coupon-item-detail .coupon-top .flex .info {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 1px solid var(--secondary-color-2);
    }

    #couponModal .show-code-top {
        padding: 24px;
    }

    #couponModal .coupon-top img {
        height: 41px;
        width: 185px;
    }

    #couponModal .show-code-top .coupon-top p {
        padding-left: 0;
    }

    #couponModal .coupon-md-form {
        display: block;
    }

    #couponModal .coupon-md-form p {
        margin-bottom: 16px !important;
    }

    #couponModal .show-code-top .coupon-copy .coupon-code {
        width: 100%;
    }

    #couponModal.modal a.close-modal {
        top: 12px;
        right: 20px;
    }

    .coupon-item-detail.all.coupon::before,
    .coupon-item-detail.all.coupon::after,
    .hightlight.relative-section::after,
    .coupon-top .info::after {
        width:0;
    }

    .hightlight.relative-section::before,
    .coupon-top .info::before {
        border: none;
    }

    .coupon-item-detail .coupon-top .flex .hightlight .action {
        right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    #header .menu-main .menu-box .menu-menu-main-container > ul > li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #footer  .container.list-flex {
        flex-wrap: wrap !important;
    }

    #footer .ft-top .ft-info {
        text-align: left;
    }

    #footer .ft-bottom .container.list-flex {
        row-gap: 20px;
    }

    .flex-two .item-flex {
        width: 100%;
    }

    #footer .ft-menu ul.menu > li {
        width: 25%;
    }

    #footer .ft-menu ul.menu {
        padding: 0 5px;
    }

    #footer .ft-bottom {
        margin-top: 20px;
    }

    #footer .ft-bottom .menu {
        justify-content: space-between;
    }

    /* End Footer */

    .contact-main .contact-box.flex .item-flex{
        width: 50%;
    }

    .contact-main .contact-box {
        gap: 20px;
    }

    /* End Contact */

    .sg-other .news-list {
        row-gap: 20px;
    }
    .sg-other .news-list .news-it {
        width: calc(50% - 10px);
        padding: 0;
    }

    .sg-other .news-list .news-it:nth-child(odd) {
        margin-right: 20px;
    }

    /*  */

    .single-sidebar {
        display: none;
    }

    .single-main .sg-right {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 1024px) { 
    .contact-main .contact-box .contact-right .follow-list a {
        min-width: 50%;
        margin-right: 0;
    }
}